input, button {
  font-family: 'Playfair Display',serif;
  outline: none;
}

html {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: 'Playfair Display', serif;
}

header {
  position: absolute;
  z-index: 1;
}

.container {
  width: 100%;
  height: 100%;
}

.embryo {
  width: 100%;
  height: 100%;
  .plus-button {
    width: 50px;
    height: 50px;
    position: absolute;
    z-index: 2;
    right: 0;
    transition: right 0.3s ease;
    div {
      background-color: #000;
      width: 30px;
      height: 2px;
      margin: 24px 10px;
      transition: transform 0.3s ease;
    }
    div:first-child {
      transform: rotate(90deg);
    }
    div:last-child {
      position: absolute;
      top: 0;
    }
  }
  .plus-button.hidden {
    right: -50px;
  }
  .plus-button.close {
    div:first-child {
      transform: rotate(315deg) scaleY(1.2);
    }
    div:last-child {
      transform: rotate(225deg) scaleY(1.2);
    }
  }
  .embryo-post {
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    background-color: rgba(255,255,255,0.9);
    transition: all 0.3s ease;
    .embryo-post-search {
      position: absolute;
      left: 0;
      transition: left 0.3s ease;
      width: 100%;
      margin-top: 40px;
      .embryo-post-search-form {
        width: 490px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 50px;
        input.text {
          background: none;
          border: none;
          border-bottom: solid 1px;
          width: 460px;
          font-size: 21pt;
          display: block;
          margin: 0 auto;
          outline: none;
        }
        input.button {
          background: none;
          border: none;
          text-decoration: underline;
          margin-top: 10px;
          float: right;
        }
      }
      .embryo-post-search-results {
        ul.items {
          display: flex;
          flex-wrap: wrap;
          justify-content: initial;
          align-items: center;
          list-style: none;
          padding: 0;
          position: relative;
          left: 50%;
          margin-left: -320px;
          width: 640px;
        }
        li.item {
          margin-right: 10px;
          margin-bottom: 10px;
          width: 150px;
          text-align: center;
        }
      }
    }
    .embryo-post-search.hidden {
      left: -100%;
    }
    .embryo-post-contribute {
      position: absolute;
      width: 100%;
      transition: left 0.3s ease;
      margin-top: 40px;
      form {
        width: 620px;
        display: block;
        margin: 0 auto;
        img {
          max-height: 400px;
          max-width: 100%;
        }
        span {
          font-size: 10pt;
        }
        textarea.text {
          width: 620px;
          height: 60px;
          display: block;
          margin: 0 auto;
          border: none;
          outline: none;
          color: #CCC;
        }
        textarea.text:focus {
          color: #000;
        }
        input.button {
          background: none;
          border: none;
          text-decoration: underline;
          display: block;
          margin: 0 auto;
        }
      }
      button {
        display: block;
        margin: 0 auto;
        border-left: solid 2px;
        border-bottom: solid 2px;
        background: none;
        border-right: none;
        border-top: none;
        width: 20px;
        height: 20px;
        transform: rotate(45deg);
      }
    }
    .embryo-post-contribute.hidden {
      left: 100%;
    }
  }
  .embryo-post.shown {
    display: block;
  }
  .embryo-contribution {
    width: 100%;
    height: 100%;
    .embryo-contribution-details {
      width: 30%;
      height: 100%;
      left: 100%;
      position: absolute;
      z-index: 1;
      transition: margin-left 0.3s ease;
      background-color: #FFF;
      margin-left: 0px;
      padding: 30px;
    }
    .embryo-contribution-details.shown {
      margin-left: -30px;
    }
    .embryo-contribution-details.opened {
      margin-left: -300px;
    }
    .embryo-contribution-image {
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: -99;
      transition: opacity 0.6s ease;
      opacity: 0;
    }
  }
  .embryo-three {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    transition: filter 0.6s ease, opacity 0.6s ease;
  }
  .embryo-three.hidden {

  }
}