html {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  width: 100%;
  height: 100%;
}

.embryo {
  width: 100%;
  height: 100%;
  .embryo-contribution {
    .embryo-contribution-image {
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: -99;
      transition: opacity 0.6s ease;
      opacity: 0;
    }
  }
  .embryo-three {
    width: 100%;
    height: 100%;
    transition: filter 0.6s ease, opacity 0.6s ease;
  }
}