extends layout

block content
  div.container
    header
      h1.logo
        img(src='images/logo_blk.png')
      h2.user-name= session.user.displayName
    div(class="embryo" ng-app="embryo" ng-controller="myCtrl")
      //div.list
      //  div.contribution(ng-repeat='contribution in contributions')
      //    p {{contribution.text}}
      //    img(ng-src='{{contribution.base64}}')
      //img(ng-src='{{selectedItem ? selectedItem.link : null}}' width='{{item.image.width}}' height='{{item.image.height}}')
      div(class='plus-button {{visibility.plusButton ? "shown" : "hidden"}} {{visibility.post ? "close" : "plus"}}' ng-click="togglePostPane()")
        div
        div
      div(class='embryo-post {{visibility.post ? "shown" : "hidden"}}')
        div(class='embryo-post-search {{visibility.postSearch ? "shown" : "hidden"}}')
          div.embryo-post-search-form
            input(class='text' type='text' ng-model='query')
            input(class='button' type='button' ng-click='search()' value='Search')
          div.embryo-post-search-results
            ul(class='items')
              li(class='item' ng-repeat='item in items')
                img(ng-src='{{item.image.thumbnailLink}}' width='{{item.image.thumbnailWidth}}' height='{{item.image.thumbnailHeight}}' ng-click='select(item)')
        div(class='embryo-post-contribute {{visibility.postContribute ? "shown" : "hidden"}}')
          form(method="POST" action="./contributes/post")
            img(class='embryo-post-image' ng-src='{{selectedItem.link}}')
            span memo:
            textarea(ng-model='text' class='text') {{text}}
            input(type='button' class='button' ng-click='submit()' value='Upload')
          button(class='back' ng-click='backToSearch()')
      div(class='embryo-contribution {{hasSelected ? "shown" : "hidden"}}')
        div(class='embryo-contribution-details {{visibility.contributionDetails}}')
          div(class='toggle-button' ng-click='toggleContributionDetails()')
          form.embryo-contribution-details-form
            textarea(ng-model='selectedContributionText' class='text') {{selectedContributionText}}
            a(class='button change-border' ng-click='editText()')
              span.change-border__inner {{contributionDetailsMessage}}
          //img(ng-src='{{selectedContribution.base64}}')
          //input(type='button' ng-click='closeLightbox()' value='close')
        div.embryo-contribution-image
      div(class='embryo-three {{visibility.three ? "show" : "hidden"}}')
  script(type="text/javascript", src='bower_components/jquery/dist/jquery.js')
  script(type="text/javascript", src='bower_components/angular/angular.js')
  script(type="text/javascript", src='bower_components/threejs/build/three.js')
  script(type="text/javascript", src='bower_components/threejs/build/TrackballControls.js')
  script(type="text/javascript", src='javascripts/main.js')