extends layout

block content
  div.container
    header
      h1 Embryo
      h2= session.user.displayName
    div(class="embryo" ng-app="embryo" ng-controller="myCtrl")
      //div.list
      //  div.contribution(ng-repeat='contribution in contributions')
      //    p {{contribution.text}}
      //    img(ng-src='{{contribution.base64}}')
      //img(ng-src='{{selectedItem ? selectedItem.link : null}}' width='{{item.image.width}}' height='{{item.image.height}}')
      div(class='plus-button {{visibility.plusButton ? "shown" : "hidden"}}' ng-click="togglePostPane()")
        div
        div
      div(class='embryo-post {{visibility.post ? "shown" : "hidden"}}')
        div(class='embryo-post-search {{visibility.postSearch ? "shown" : "hidden"}}')
          p
            span(class="title") Queries:
            input(type='text' ng-model='query')
            input(type='button' ng-click='search()' value='Search')
          p
            span(class='title') Results: {{ items.length }}
            ul(class='items')
              li(ng-repeat='item in items')
                img(ng-src='{{item.image.thumbnailLink}}' width='{{item.image.thumbnailWidth}}' height='{{item.image.thumbnailHeight}}' ng-click='select(item)')
        div(class='embryo-post-contribute {{visibility.postContribute ? "shown" : "hidden"}}')
          form(method="POST" action="./contributes/post")
            input(type="text" ng-model="text" value="テキスト")
            input(type="text" ng-model="url" value="画像URL")
            input(type="button" ng-click='submit()' value="送信")
      div(class='embryo-contribution {{hasSelected ? "shown" : "hidden"}}')
        div(class='embryo-contribution-details {{visibility.contributionDetails ? "shown" : "hidden"}}' ng-click'toggleContributionDetails()')
          p {{selectedContribution.text}}
          //img(ng-src='{{selectedContribution.base64}}')
          //input(type='button' ng-click='closeLightbox()' value='close')
        div.embryo-contribution-image
      div.embryo-three
  script(type="text/javascript", src='bower_components/jquery/dist/jquery.js')
  script(type="text/javascript", src='bower_components/angular/angular.js')
  script(type="text/javascript", src='bower_components/threejs/build/three.js')
  script(type="text/javascript", src='bower_components/threejs/build/TrackballControls.js')
  script(type="text/javascript", src='javascripts/main.js')