extends layout
block content
    div.login
      div.container
        h1.logo
          img(src='images/logo_blk.png')
        a(class='change-border' href='/oauth')
          h2.change-border__inner
            img(src='images/twitter_login.png')
            span Login